*{margin: 0;}

body { background-color: rgb(255, 218, 187);
font-family:Arial, Helvetica;
font-size: 16px;


}

img {width: 500px;

text-align: center;
max-width: 100%;
margin: 0 auto;
display: block;

}

header, footer {
     /*cor de fundo*/
    background-color: rgb(139, 37, 19);

    /*cor do texto*/
    color: rgb(255, 189, 165);

    /*alinhamento e estrutura*/
    text-align: center;
    padding: 20px;

}

a:hover {

    color: peru;
}

a {

    transition: color 0.3s ease;
}


.conteiner {

    display: flex;
    border-style: solid;
    border-color: darkolivegreen;

}

.texto {
flex: 1;
padding: 15%;
}


.imglink {

flex: 2;
text-align: center;
display: flex;
justify-content: center;
padding: 5%;

}


nav{

background-color: rgb(139, 37, 19);
text-align: center;

}

nav ul {
list-style: none;
padding: 0%;
}


nav li {
display: inline;
margin-right: 40px;

}






nav a {


    text-decoration: none;
    color: rgb(164, 219, 166);
    font-weight: bold;
    font-size: 20px;
    
    
    }

    nav a:hover{

        color:rgb(255, 229, 221)
    }
    
    .sobre-titulo{ 
        font-size: 32px;
        color: rgb(139, 37, 19);
        margin-bottom: 50px;
    }

    .sobre-texto{ }






















































































































































































